<link href="css/clubpage.css" rel="stylesheet">
<div class="container club-body">
    <form method="post" enctype="multipart/form-data">
        <div class="intro-header">
            <div class="container">
               <div class="row">
                    <div class="col-lg-12">
                        <div class="club-header">
                            <div class="adminBtnGroup">
                                {{#if editable}}
                                <label class="btn btn-default btn-file">
                                    Choose Photo <input type="file" name='banner' style="display: none;" onchange="previewFile()">
                                </label>
                                <script>
                                    function previewFile(){
                                        var preview = $('#bannerPhoto');
                                        var file    = document.querySelector('input[type=file]').files[0];
                                        var reader  = new FileReader();
                                        reader.onloadend = function () {
                                            preview.attr("src",reader.result);
                                        }
                                        if (file) {
                                            reader.readAsDataURL(file); //reads the data as a URL
                                        } else {
                                            preview.attr("src","{{bannerURL}}");
                                        }
                                    }
                                    previewFile();  //calls the function named previewFile()
                                </script>
                                {{/if}}
                                {{#if admin}}
                                    {{#unless editable}}
                                        <button class="btn btn-primary" type="button" onclick="edit()">Edit</button>
                                    {{else}}
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    {{/unless}}
                                {{else}}
                                    {{#if member}}
                                        <button class="btn btn-primary" type="button" onclick="join()">Joined</button>
                                    {{else}}
                                        <button class="btn btn-primary" type="button" onclick="join()">Join Club</button>
                                    {{/if}}
                                {{/if}}
                            </div>
                            <div class="image-holder">
                                <img src={{bannerURL}} class='banner-photo' id='bannerPhoto' alt="">
                            </div>
                            <div class="club-name-holder" id='nameHolder'>
                                <textarea disabled name='name' rows=1 maxlength=55 type='text' class='col-sm-12 clubTitle' id='name'>{{name}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                {{#if editable}}
                <div class="input-group">
                    <div class="input-group-addon">clubble.ca/</div>
                        <input class="form-control"
                               type="text"
                               id="clubLink"
                               name="clubLink"
                               value="{{ clubLink }}">
                </div>
                {{/if}}
                {{#if admin}}
                    <a class="btn btn-primary" type="button" href="{{clubLink}}/members">Members</a>
                {{/if}}
            </div>
        </div>
        <div class="col-sm-6 club-about-well">
            <div class="well">
                <h4>About {{name}}</h4>
                <textarea disabled id=description name="description" class="form-control">{{ description }}</textarea>
            </div>
            <div class="well">
                <h4>Contact Info</h4>
                <ul class="list-unstyled">
                    <li>
                    <div class="input-group">
                        <div class="input-group-addon contact-group-addon">Email</div>
                        <input disabled class="form-control" type='text' name='email' id=email value={{email}}>
                    </div>
                    </li>
                    <li>
                    <div class="input-group">
                        <a {{#if website}}href={{website}}{{/if}} class="input-group-addon contact-group-addon">Website</a>
                        <input disabled class="form-control" type='text' name='website' id=website value={{website}}>
                    </div>
                    </li>
                    <li>
                    <div class="input-group">
                        <a {{#if facebook}}href={{facebook}}{{/if}} class="input-group-addon contact-group-addon">Facebook</a>
                        <input disabled class="form-control" type='text' name='facebook' id=facebook value={{facebook}}>
                    </div>
                    </li>
                    <li>
                    <div class="input-group">
                        <a {{#if twitter}}href={{twitter}}{{/if}} class="input-group-addon contact-group-addon">Twitter</a>
                        <input disabled class="form-control" type='text' name='twitter' id=twitter value={{twitter}}>
                    </div>
                    <li>
                    <div class="input-group">
                        <a {{#if youtube}}href={{youtube}}{{/if}} class="input-group-addon contact-group-addon">Youtube</a>
                        <input disabled class="form-control" type='text' name='youtube' id=youtube value={{youtube}}>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 club-about-well">
            <div class="well">
                <h4>Upcoming Events</h4>
                <div id='club-events'>
                {{#if admin}}
                {{#unless facebook}}
                    <p class='info'>Link to your facebook group page to see your upcoming events automatically</p>
                {{/unless}}
                {{/if}}
                </div>
            </div>
        </div>
    </form>
</div>
<script id="fbevent-template" type="text/x-handlebars-template">
    <div class='well'>
        <div class='eventDateHolder'>
            <span class='eventMonth'>\{{start_month}}</span>
            <br>
            <span class='eventDate'>\{{start_date}}</span>
            <br>
            <span class='eventTime'>\{{start_time}}</span>
        </div>
        <h4>\{{name}}</h4>
        <p>\{{description}}</p>
        <a href='https://www.facebook.com/events/\{{id}}'>Facebook Link </a>
    </div>
</script>

<script type="text/javascript">
    function nameAdjust() {
        $('#name').attr('rows', 1);
        var height = document.getElementById("name").scrollHeight;
        $('#name').attr('rows', (height-4)/100);
        $('#nameHolder').css('padding-top', 300-(height-4));
    }
    $(window).ready(function() {
        nameAdjust();
        $(window).resize(
            nameAdjust
        );
        $('#name').keyup(
            nameAdjust
        );

        function textAreaAdjust(o) {
            o.style.height = "1px";
            o.style.height = (25+o.scrollHeight)+"px";
        }
        textAreaAdjust(document.getElementById('description'));

        $.get(window.location.href.split('?')[0]+'/events/json', function(data) {
            for (var fbEvent in data['fbEvents']) {
                var source   = $("#fbevent-template").html();
                var template = Handlebars.compile(source);
                var context = data['fbEvents'][fbEvent];
                var html    = template(context);
                $('#club-events').append(html); 
            }
        });
    });

</script>

{{#if admin}}
{{#unless editable}}
<script>
    function edit() {
        window.location.href = window.location.pathname+"?"+$.param({'edit':'true'});
    }
</script>
{{/unless}}
{{/if}}
<script>
    function join() {
        $.post(window.location.pathname+"/join", {next: window.location.pathname}, function(data, status) {
            if (typeof data.redirect == 'string') {
                window.location = data.redirect;
            }
        });
    }
</script>
{{#if editable}}
<script>
    $('#name').prop('disabled', false);
    $('#clubLink').prop('disabled', false);
    $('#description').prop('disabled', false);
    $('#email').prop('disabled', false);
    $('#facebook').prop('disabled', false);
    $('#twitter').prop('disabled', false);
    $('#youtube').prop('disabled', false);
    $('#website').prop('disabled', false);
</script>        
{{/if}}
<script>
</script>
