<link href="css/clubpage.css" rel="stylesheet">
<div class="container club-body ">
    <div class="intro-header">
        <div class="container">
           <div class="row">
                <div class="col-lg-12">
                    <div class="club-header">
                        <h1 id='name'>{{name}}</h1>
                        {{#if editable}}
                        <p class='info'>Edit name</p>
                        {{/if}}
                        {{#if admin}}
                        {{#unless editable}}
                        <button class="btn btn-primary" type="button" onclick="edit()">Edit</button>
                        {{else}}
                        <button class="btn btn-primary" type="button" onclick="save()">Save</button>
                        {{/unless}}
                        {{/if}} 
                    </div>
                </div>
            </div>
            {{#if editable}}
            <div class="input-group">
                <div class="input-group-addon">clubble.ca/</div>
                    <input class="form-control"
                           type="text"
                           id="clubLink"
                           name="clubLink"
                           value="{{ clubLink }}">
            </div>
            {{/if}}
        </div>
    </div>
    <div class="col-sm-6 club-about-well">
        <div class="well">
            <h4>About {{name}}</h4>
            <textarea readonly id=description name="description" class="form-control">{{ description }}</textarea>
        </div>
        <div class="well">
            <h4>Contact Info</h4>
            <ul class="list-unstyled">
                <li>
                <div class="input-group">
                    <div class="input-group-addon contact-group-addon">Email</div>
                    <input readonly class="form-control" type='text' id=email value={{email}}>
                </div>
                </li>
                <li>
                <div class="input-group">
                    <a {{#if facebook}}href={{facebook}}{{/if}} class="input-group-addon contact-group-addon">Facebook</a>
                    <input readonly class="form-control" type='text' id=facebook value={{facebook}}>
                </div>
                </li>
                <li>
                <div class="input-group">
                    <a {{#if twitter}}href={{twitter}}{{/if}} class="input-group-addon contact-group-addon">Twitter</a>
                    <input readonly class="form-control" type='text' id=twitter value={{twitter}}>
                </div>
                <li>
                <div class="input-group">
                    <a {{#if youtube}}href={{youtube}}{{/if}} class="input-group-addon contact-group-addon">Youtube</a>
                    <input readonly class="form-control" type='text' id=youtube value={{youtube}}>
                </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 club-about-well">
        <div class="well">
            <h4>Upcoming Events</h4>
            <div id='club-events'>
            {{#if admin}}
            {{#unless facebook}}
                <p class='info'>Link to your facebook group page to see your upcoming events automatically</p>
            {{/unless}}
            {{/if}}
            </div>
        </div>
    </div>
</div>

<script id="fbevent-template" type="text/x-handlebars-template">
    <div class='well'>
        <h4>\{{name}}</h4>
        <p>\{{description}}</p>
        <p>Start Date: \{{start_time}}</p>
        <p>End Date: \{{end_time}}</p>
        <a href='https://www.facebook.com/events/\{{id}}'>Facebook Link </a>
    </div>
</script>

<script type="text/javascript">
    $(window).ready(function() {
        function textAreaAdjust(o) {
            o.style.height = "1px";
            o.style.height = (25+o.scrollHeight)+"px";
        }
        textAreaAdjust(document.getElementById('description'));

        $.get(window.location.href.split('?')[0]+'/events/json', function(data) {
            for (var fbEvent in data['fbEvents']) {
                var source   = $("#fbevent-template").html();
                var template = Handlebars.compile(source);
                var context = data['fbEvents'][fbEvent];
                var html    = template(context);
                $('#club-events').append(html); 
            }
        });
    });

</script>

{{#if admin}}
{{#unless editable}}
<script>
    function edit() {
        window.location.href = window.location.pathname+"?"+$.param({'edit':'true'});
    }
</script>
{{/unless}}
{{/if}}

{{#if editable}}
<script>
    $('#name').prop('contenteditable', true);
    $('#clubLink').prop('readonly', false);
    $('#description').prop('readonly', false);
    $('#email').prop('readonly', false);
    $('#facebook').prop('readonly', false);
    $('#twitter').prop('readonly', false);
    $('#youtube').prop('readonly', false);
</script>        
<script>
    function save() {
        var context = {
            name: $('#name').text(),
            clubLink: $('#clubLink').val(),
            description: $('#description').val(),
            email: $('#email').val(),
            facebook: $('#facebook').val(),
            twitter: $('#twitter').val(),
            youtube: $('#youtube').val(),
        }
        $.post('#', context, function(data, textStatus, jqXHR) {
            if (typeof data.redirect == 'string') {
                window.location = data.redirect;
            }
        });
    }
</script>
{{/if}}

