<link href="/css/main-page.css" rel="stylesheet">
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-s m-12">
                <div class="intro-message">
                    <div class="front-page-search">
                        <input type="text"
                               id="clubSearchBar"
                               class="col-sm-12 input-lg front-page-search-input"
                               placeholder="Search for: {{search_club}}"
                               autofocus/>
                    </div>
                    <div id="clubSearchResults" class="list-unstyled">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 main-page-col">
                <h4>Discover</h4>
                <div class="container col-sm-12 well main-page-well">
                    {{#each discover_clubs_events}}
                        {{#if this.clubLink}}
                            <div class="well club-well clickable">
                                <a href="/{{this.clubLink}}"></a>
                                <img class="img-responsive" src="{{this.bannerURL}}" alt="">
                                <h5>{{this.name}}</h5>
                                <p class='well-description'>{{this.description}}</p>
                            </div>
                        {{else}}
                            <div class='well event-well'>
                                <div class='eventDateHolder'>
                                    <span class='eventMonth'>{{start_month}}</span>
                                    <br>
                                    <span class='eventDate'>{{start_date}}</span>
                                    <br>
                                    <span class='eventTime'>{{start_time}}</span>
                                </div>
                                <h4>{{name}}</h4>
                                <p class='well-description'>{{description}}</p>
                                <a href="https://{{facebook_link}}">Facebook Link </a>
                                <a href="{{club.0.clubLink}}">Club Link </a>
                            </div>
                        {{/if}} 
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-4 main-page-col">
                <h4>My Clubs</h4>
                <a class="create-btn btn btn-primary" type="button" href="create_club"><span>New Club</span></a>
                <div class="container col-sm-12 well myclub-main-page-well">
                    {{#if my_clubs}}
                        {{#each my_clubs}}
                            <div class="col-md-6 well myclub-well clickable">
                                <a href="/{{this.clubLink}}"></a>
                                <img class="img-responsive" src="{{this.bannerURL}}" alt="">
                                <h5>{{this.name}}</h5>
                            </div>
                        {{/each}}
                    {{else}}
                        <a class="btn btn-primary" type="button" href="login?next=/"><span>Login to see your clubs</span></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>

<script id="template-clubSearchResult" type="text/x-handlebars-template">
    <div class="searchRow">
        <div class="col-sm-12">
            <h4>
                <a href="/\{{clubLink}}" style="color: black;">
                    \{{ name }}
                </a>
            </h4>
            <p>\{{ description }}</p>
        </div>
    </div>
</script>

<script>
    var searchTimeout;
    $('#clubSearchBar')
        .typeahead({
            minLength: 1,
            hint: true,
            highlight: true,
        }, {
            name: 'club_search',
            async: true,
            source: function (query, _, done) {
                if (searchTimeout) {
                    clearTimeout(searchTimeout);
                }
                searchTimeout = setTimeout(function () {
                    $.getJSON('/api/clubs/search', {q: query}, function (data) {
                        var results = data.results;
                        done(results);
                    });
                }, 200);
            },
            display: function (club) {
                return club.name;
            },
            templates: {
                suggestion: Handlebars.compile($('#template-clubSearchResult').html()),
            }
        })
        .bind('typeahead:select', function ($el, club) {
            window.location.pathname = '/' + club.clubLink;
        });
</script>
