<!-- Header -->
<link href="/css/main-page.css" rel="stylesheet">
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-s m-12">
                <div class="row intro-message">
                    <div class="front-page-search">
                        <input type="text"
                               id="clubSearchBar"
                               class="col-sm-12 input-lg front-page-search-input"
                               placeholder="Search for: {{search_club}}"
                               autofocus/>
                    </div>
                    <div id="clubSearchResults" class="list-unstyled">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 main-page-col">
                <div class="well main-page-well">
                    <h4>New Clubs</h4>
                    {{#each new_clubs}}
                        <div class="well club-well clickable">
                            <a href="/{{this.clubLink}}"></a>
                            <img class="img-responsive" src="/img/placeholder.png" alt="">
                            <h5>{{this.name}}</h5>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-4 main-page-col">
                <div class="well main-page-well">
                    <h4>Popular Clubs</h4>
                    {{#each popular_clubs}}
                        <div class="well club-well clickable">
                            <a href="/{{this.clubLink}}"></a>
                            <img class="img-responsive" src="/img/placeholder.png" alt="">
                            <h5>{{this.name}}</h5>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-4 main-page-col">
                <div class="well main-page-well">
                    <h4>My Clubs</h4>
                    <a class="btn btn-primary" type="button" href="create_club">Create New Club</a>
                    {{#each my_clubs}}
                        <div class="well club-well clickable">
                            <a href="/{{this.clubLink}}"></a>
                            <img class="img-responsive" src="/img/placeholder.png" alt="">
                            <h5>{{this.name}}</h5>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>

<script id="template-clubSearchResult" type="text/x-handlebars-template">
    <div class="searchRow">
        <div class="col-sm-12">
            <h4>
                <a href="/\{{clubLink}}" style="color: black;">
                    \{{ name }}
                </a>
            </h4>
            <p>\{{ description }}</p>
        </div>
    </div>
</script>

<script>
    var searchTimeout;
    $('#clubSearchBar')
        .typeahead({
            minLength: 1,
            hint: true,
            highlight: true,
        }, {
            name: 'club_search',
            async: true,
            source: function (query, _, done) {
                if (searchTimeout) {
                    clearTimeout(searchTimeout);
                }
                searchTimeout = setTimeout(function () {
                    $.getJSON('/api/clubs/search', {q: query}, function (data) {
                        var results = data.results;
                        done(results);
                    });
                }, 200);
            },
            display: function (club) {
                return club.name;
            },
            templates: {
                suggestion: Handlebars.compile($('#template-clubSearchResult').html()),
            }
        })
        .bind('typeahead:select', function ($el, club) {
            window.location.pathname = '/' + club.clubLink;
        });
</script>
